/* ESTILOS DEL SISTEMA CREAD POR SIGFRID */
body
{
  background: #1C1C1C;

}
.navbar-default
{
 border-radius: 0px;
 margin: 0px;
 border:none;
 background: #060817; 
 text-shadow: 0px;
}

/* Estilos del menu izquierdo */
.menu
{
	width: 100%;
	padding: 0.5%;
	position: relative;
	height:auto;
	background: transparent;
    background: #060817;  
}

.submenu{
	padding: 3%;
	background: #003366;
	margin-bottom: 0.5%;
	width: 100%;
	border-bottom: 1px solid #0B5BE0;
    background: #060817; 
}


.link{
  width: 100%;
  padding: 3%;
  padding-left:5%;
  color:white;
  text-decoration: none;
  font-size: 12px;
  background: transparent;
  text-transform:uppercase;
 
}

.link_focus{
  width: 100%;
  padding: 3%;
  padding-left:5%;
  color:white;
  text-decoration: none;
  font-size: 12px;
  background: transparent;
  text-transform:uppercase;
 
}

.link span{
	font-size: 12px;
	margin-right: 5%;
}
 
.submenu:hover{
	background: #0B5BE0;
	cursor: pointer;
	color: white;
}

.submenu:hover .link {
	text-decoration: none;
	background: #0B5BE0;
	cursor: pointer;
	color: white;
}


/* ESTILOS DE FOOTER */

#footer
{
	color:#2E4053;
	margin-top: 0px;
	padding-bottom: 3%;
    background: #060817;

}

.componente-footer
{
  background: #12102B; 
  padding: 2%;
  height: 250px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color:white;
}

.componente-footer:hover
{
  background: #bdc3c7;
  color:black;
  transition: 1s;
}
 
.componente-footer li
{
   list-style: none;
   padding: 2%;
}

.componente-footer li a
{
   text-decoration: none;
   color: white;
   font-weight: bold;
}

.titulo_footer
{
	font-size: 18px;
	font-weight: bold;
	color: white;
}


#copyright-footer
{
	padding: 5%;
	color: white;
}


/* ESTILOS DE PAGINADOR */

#page_activo{
	background: #060817;;
	color:white;
}

.pagination
{
  background: white;
}

.pagination li a
{
  background: transparent;
  border-radius: 0px;
 
  color:black;
}

.pagination li a:hover
{
  background: #060817;
  color: white;
  border:1px solid #060817;
}

.pagination .disabled a{
  background: transparent; 
  color:#2E4053;
}

.pagination .disabled a:hover{
  background: transparent;
  color: white;
}

.pagination .active a {
  background: #2E4053;
  color: white;
  border:1px solid #2E4053; 
}

.pagination .active a:hover {
  background: transparent;
  color: white;
  border:1px solid #2E4053; 
}

 

.titulo_menu
{
  border-bottom:1px solid #2E4053; color:#2E4053; 
}

.componente_menu
{
  width:100%; 
  background:white; 
  padding:1%; 
  font-size:12px; 
  margin-bottom:3%; 
  margin-top:0.5%;
  background: rgb(255, 255, 255, 1);

}
 .transparent{
 	color: transparent;
 	background: transparent;
}


/* BOTOM DE IMAGENES */

 .btn-file {
                position: relative;
                overflow: hidden;
            }
 
 .btn-file input[type=file] 
            {
                  position: absolute;
                  top: 0;
                  right: 0;
                  min-width: 100%;
                  min-height: 100%;
                  font-size: 100px;
                  text-align: right;
                  filter: alpha(opacity=0);
                  opacity: 0;
                  outline: none;
                  background: white;
                  cursor: inherit;
                  display: block;
            }

/* ESTILO DEL CARGANDO DE LAS FUNCIONES AJAX*/

.cargando {
  margin-left: 45%;
  border: 3px solid #f3f3f3;
  border-radius: 100%;
  border-top: 3px solid #7f8c8d;
  /*border-bottom: 3px solid #7f8c8d;*/
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*ESTILOS LISTADO DE DATOS */

 .btn_opciones
 {
  width: 120px; height: auto; background: white; display: none;
  position: absolute;
  z-index: 1;
  padding: 1%;
  border:1px solid #E6E6E6;
  margin-left: -100px;
  text-align: left;

 }

.btn_opciones-xs
 {
  width: 150px; height: auto; background: white; display: none;
  position: absolute;
  z-index: 1;
  padding: 1%;
  border:1px solid #E6E6E6;
  margin-left: 20px;
  text-align: left;
  box-shadow: 2px 3px 10px 2px #bdc3c7;

 }

 .panel_cerrar_botones
 {
 	margin-top: -10px;
 	margin-right: -10px;
 }

 .panel_cerrar_botones-xs
 {
 	margin-top: -3px;
 	margin-right: -3px;
 }

 .btn_line-xs
 {
  margin: 2px; width:150px; height: 1px; background: #A4A4A4; margin-left: -5px;
 }

 .btn_line
 {
  margin: 2px; width:120px; height: 1px; background: #A4A4A4; margin-left: -11px;
 }


 /* ESTILOS DE SELECT */
 .slect-link{
  background: transparent;

 }

 .slect-link: hover{
  background: #2E4053;
 }

 #select-form
 {
 	width:100%; max-height:250px; background:white;
 	line-height: 1.1;
  overflow: auto;
 }

 #select-form li a
 { background: transparent;
 	 color:#2E4053;
 	 border-bottom: 1px solid #2E4053;
 }

 #select-form li:hover a
 {
 	 background-color:#2E4053;
 	 color:white;
 }

::-webkit-scrollbar{
    width: 5px;
    background-color: #2E4053;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background-color: white;
    
}
::-webkit-scrollbar-thumb{
    background-color: #2E4053; 
    height: 5px;
}

::-webkit-scrollbar:horizontal 
{
    height: 5px;
    background-color: #2E4053;  
}

::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: white;
    height:5px;
} 

::-webkit-scrollbar-thumb:horizontal {
    background-color: #2E4053; 
    width: 5px;
}


/* ESTILOS TABLES EXTRA CORTOS E ICONO MUSIC */

.td-xs{
 width: 50px;
}
.icono_music
{
  border-radius: 50%; border:1px solid black; height: 25px; 
  width: 25px; padding-top: 10%;
}


.modal-header
{
  background: #060817;
  color : white;
  
}

.modal-body{
  background: transparent;
}

.modal-footer{
  background: transparent;
}

.modal-dialog
{
  background :  rgb(255, 255, 255, 0.2);
  background: transparent !important;
  border-radius: 0px;
}

.modal-content
{
   background :  rgb(255, 255, 255, 1);
   border-radius: 0px;
   border:0px;
}

.table tr th
{
  background: #060817;
  color: white;
}


body {
 
/*background-image: url(http://localhost/sistema_cursos/assets/images/iconos/fondo_sistema_cursos.jpg);

 
background-position: center center;

/* Para que la imagen de fondo no se repita */

/* background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

/* background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

/* background-size: cover; */
 
}


/* AREA DE LOS BOTONES */

.btn-default
{
 border-radius: 0px;
 text-shadow: 0px;
 background: rgb( 236, 240, 241, 0.1);
 border:1px solid #7f8c8d;
 color: #7f8c8d;
 text-shadow: 0px;
}

.btn-default:hover
{
 background: rgb( 236, 240, 241, 1);
 border:1px solid #2E4053;
 color: #2E4053;
}

.btn-default:focus
{
 background: rgb( 236, 240, 241, 1);
 border:1px solid #2E4053;
 color: #2E4053;
}

.btn-info
{
 border-radius: 0px;
 text-shadow: 0px;
 background: rgb( 236, 240, 241, 0.1);
 border:1px solid  #2980b9;
 color: #2980b9;
 text-shadow: 0px;
}

.btn-info:hover
{
 background: #2980b9;
 border:1px solid #2980b9;
 color: white;
}

.btn-info:focus
{
 background: #2980b9;
 border:1px solid #2980b9;
 color: white;
} 


.btn-danger
{
 border-radius: 0px;
 text-shadow: 0px;
 background: rgb( 236, 240, 241, 0.1);
 border:1px solid  #e74c3c;
 color: #e74c3c;
 text-shadow: 0px;
}

.btn-danger:hover
{
 background: #e74c3c;
 border:1px solid #e74c3c;
 color: white;
 text-shadow: 0px;
}

.btn-danger:focus
{
 background: #e74c3c;
 border:1px solid #e74c3c;
 color: white;
 text-shadow: 0px;
}

.btn-success
{
 border-radius: 0px;
 text-shadow: 0px;
 background: rgb( 236, 240, 241, 0.1);
 border:1px solid  #16a085;
 color: #16a085;
 text-shadow: 0px;
}

.btn-success:hover
{
 background: #16a085;
 border:1px solid #16a085;
 color: white;
}

.btn-success:focus
{
 background: #16a085;
 border:1px solid #16a085;
 color: white;
}

.close{
  color: white;
  opacity: 1;
  text-shadow: 0px;
}

.close:hover{
  color: white;
  opacity: 1;
  text-shadow: 0px;
}


.form-control-sm
{

  width: 100%;
  padding: 0.5%;
  border:none;

}